---
import { Tweet } from "astro-embed";
---

<label>
  <p class="mb-4">STORIES</p>
  <ol class="space-y-4 text-lg flex flex-col items-center">
    <Tweet id="https://x.com/Austin_Federa/status/1862867514411397189" />
    <Tweet id="https://x.com/tevanrobin/status/1862950008460607898" />
  </ol>
</label>
