---
import { Tweet } from "astro-embed";
import trump_debanked from "../../public/trump-debanked.png";
import { Image } from "astro:assets";
---

<label>
  <p class="mb-4">STORIES</p>
  <ol class="space-y-4 text-lg flex flex-col items-center">
    <Tweet id="https://x.com/Austin_Federa/status/1862867514411397189" />
    <Tweet id="https://x.com/tevanrobin/status/1862950008460607898" />
    <Tweet id="https://x.com/juanaxyz00/status/1862870796168826954" />
    <Tweet id="https://x.com/davidmarcus/status/1862654506774810641" />
    <Tweet id="https://x.com/Amplify_Mike/status/1862892883780501568" />
    <Tweet id="https://x.com/prestonjbyrne/status/1862869066777493862" />
    <a href="https://www.amazon.com/Melania-Trump-ebook/dp/B0D8R854KP">
      <Image
        src={trump_debanked}
        alt="I was shocked and dismayed to learn that my long-time bank decided to terminate my account and deny my son an opportunity to open a new one."
      />
    </a>
    <Tweet id="https://x.com/mdudas/status/1865045764562714713" />
    <Tweet id="https://x.com/Fwiz/status/1865049212427325947" />
    <Tweet id="https://x.com/D_CentralBanker/status/1865091418810626064" />
  </ol>
</label>
