---
// Access passed-in component props, like `<X title="Hello, World" />`
const { text, href, author } = Astro.props;
---

<li>
  <span>{text}</span>
  <span class="italic text-white/80">&mdash;{author}</span>
  {
    href && (
      <a href={href} class="link text-sm">
        (source)
      </a>
    )
  }
</li>
